body{
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: 800%;
}
h2{
    text-align: center;
    font-size: 500%;
    margin-left: 20vw; margin-right:20vw;
}
h3{
    text-align: center;
    font-size: 200%;
}
p{
    text-align: center;
    font-size: 200%;
    background-color: burlywood;
    border-radius: 5px;
    margin-left: 40vw; margin-right:40vw;
}
h4{
    text-align: center;
    font-size: 150%;
}
button{
    display: block;
    margin: 0 auto;
    height: 5vh;
    width: 10vw;
    background-color: rgb(114, 71, 39);
    border-color: black;
}
.hidden{
    background-image: url(images/start.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh;
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
}
.hidden:hover{
    background-image: url(images/start.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh;
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
}
.trick{
    height: 7.5vh;
    width: 15vw;
    color: white;
    font-size: 400%;
}
a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 0.35vw;
}
img{
    display: block;
    margin: 0 auto;
    height: 35vh;
    width: 20vw ;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* So clicks pass through to the image */
    z-index: 5;
    width: 100vw;
    height: 100vh;

}
.treasure{
    display: block;
    margin: 0 auto;
    width: 20vw;
    height: 40vh;
    cursor: pointer;
    z-index: 12;
}
.restart{
    position: absolute;
    bottom: -24vh;
    right: 1vw;
    height: 2.5vh;
    width: 5vw;
    background-color:burlywood;
    border-color: black;
    font-size: 200%;
    border-radius: 5px;
    border-color: transparent;
}